@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; // для variable font — указывается диапазон
  font-style: normal;
  font-display: swap;
}
